

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  opacity: 0.98;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgb(222, 239, 218);
  border-color: black;
  border-width: thin;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.navbar-title {
  font-size: 30px;
  padding-left: 30px;
}

.right-section {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: green;
  font-size: 18px;
  margin-right: 50px;
}

.header-link:hover {
  color: rgb(0, 72, 0);
}

.header-link:active {
  color: rgb(1, 36, 1);
}